<h1>Boards</h1>

<%= link_to 'Add new board', new_board_path %>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Board Title</th>
            <th scope="col">Text</th>
            <th scope="col">Lists:</th>

            <th scope="col">Actions for Board: </th>
        </tr>
    </thead>
    <tbody>
        <% @boards.each do |board|%>
        <tr>
            <td scope><%= board.title %> </th>
            <td scope><%= board.text %> </th>
            <td scope><ul>
                <%# <% board.board_lists.list.each do |list| %>
                <%# <li><%= list.name %></li> %>
                <%# <% end %></ul> </th> %> %>
            <td scope><%= link_to 'Delete', board_path(board), method: :delete %> 
            <%= link_to 'Edit', edit_board_path(board), method: :get %> 
            <%= link_to 'Show', board_path(board) %> </td>
        </tr>
        <% end %>
    </tbody>
</table>

