 <h2> <%= @board.title %> </h2>
  <ul>
    <li><%= @board.text %></li>
      <% @board.lists.each do |list| %>
        <li><%= list.name.blank? ? '(empty)' : list.name %><br>
        <%= link_to 'Edit List', edit_board_list_path(list), method: :get %> <br></li>
      <% end %>
  </ul>

<%= link_to 'Add List', new_board_list_path(@board) %> <br>
<%= link_to 'Back', root_path %>